<!-- competencias.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
  <section>
    <div class="container content content-center">
      <h1>Contactos</h1>
      <p>Para me contactar tenho as 3 vias profissionais abaixo ou podemos agendar uma reunião na zona de Lisboa.</p>
      <div class="contacts">
        <a href="mailto:ricardo.goncalves252@gmail.com" class="btn-primary">Email</a>
        <a href="https://github.com/a22000492" target="_blank" class="btn-primary">Github</a>
        <a href="https://www.linkedin.com/in/riagoncalves/" class="btn-primary">Linkedin</a>
      </div>
    </div>
  </section>
{% endblock %}