<!-- formacao.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
  <section>
    <div class="container">
      <h1>Educação</h1>
      <div class="posts">
        <div class="post">
          <h4>Licenciatura em Engenharia Informática</h4>
          <p>Universidade Lusófona de Humanidades e Tecnologias</p>
          <p><strong>Anos:</strong> 2020-2023</p>
          <div class="aditional-info">
            <div>
            </div>
            <a href="{% url 'portfolio:licenciatura' %}" class="btn-primary">Ver mais</a>
          </div>
        </div>
        <div class="post">
          <h4>Técnico de Gestão de Equipamentos Informáticos</h4>
          <p>Escola Técnica e Profissional de Mafra</p>
          <p><strong>Anos:</strong> 2012-2015</p>
          <div class="aditional-info">
            <div>
            </div>
            <a href="https://www.etpm.pt/tecnicodegestaodeequipamentosinformaticos" target="_blank" class="btn-primary">Ver mais</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}