{% extends 'portfolio/layout.html' %}

{% block main %}
  <section>
    <div class="container content content-center">
      <h1>Laboratorios</h1>
      <div class="posts">
        {% for laboratorio in laboratorios %}
          <div class="post">
            <h4>{{ laboratorio.titulo }}</h4>
            <p>{{ laboratorio.descricao }}</p>
            <div class="aditional-info">
              <div>
              </div>
              {% if laboratorio.link %}
                <a href="{{ laboratorio.link }}" class="btn-primary">Github</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
      
{% endblock %}
