<!-- projetos.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
  <section>
    <div class="container content content-center">
      <h1>Projetos</h1>
      {% if request.user.is_authenticated %}
        <div>
          <a href="{% url 'portfolio:novo_projeto' %}" class="btn-primary">Novo Projeto</a>
        </div>
      {% endif %}
      <div class="projetos">
        {% for projeto in projetos %}
          <div class="tfc">
            <h4>{{ projeto.nome }}</h4>
            <p>{{ projeto.disciplina }}</p>
            <p><strong>Ano letivo:</strong> {{ projeto.ano_letivo }}</p>
            <p><strong>Tecnologias:</strong> {{ projeto.tecnologias }}</p>
            {% if request.user.is_authenticated %}
              <div class="aditional-info">
                <div>
                </div>
                <div>
                  <a href="{% url 'portfolio:editar_projeto' projeto.id %}" class="btn-primary">Editar</a>
                </div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section>
    <div class="container content content-center">
      <h1>Tfcs</h1>
      <p>Uma lista dos TFCs que mais me desperta interesse.</p>
      <div class="projetos">
        {% for tfc in tfcs %}
          <div class="tfc">
            <h4>{{ tfc.titulo }}</h4>
            <p><strong>Autores:</strong> {{ tfc.autores }}</p>
            <p><strong>Ano:</strong> {{ tfc.ano }}</p>
            <div class="aditional-info">
              <div>
              </div>
              <div>
                <a href="{% url 'portfolio:tfc_detail' tfc.id %}" class="btn-primary">Ver mais</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}