<!-- apresentacao.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
  <section>
    <div class="container content">
      <div class="text-image">
        <div class="text-box spaced black">
          <h1>Sobre o website</h1>
          <p>Este website foi desenvolvido no âmbito de Programação Web ao longo da Licenciatura de Engenharia Informática.</p>
          <p>Foi utilizado HTML, CSS, JavaScript e Django no mesmo.</p>
        </div>
        <div class="center">
          {% load static %}
          <img src="{% static 'portfolio/images/programming2.jpg' %}" class="img-box">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container content">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/lugzR82bdmU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </section>
{% endblock %}