{% extends 'portfolio/layout.html' %}

{% block main %}
  <section>
    <div class="container content content-center">
      <h1>Quizz sobre Programação Web</h1>
      <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
          <legend>
            Quizz sobre Web
          </legend> 
          <fieldset>
            <legend>Info</legend>
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" id="nome" name="nome" placeholder="ex: Ricardo Gonçalves" required>
            </div>
          </fieldset>
          <fieldset class="space">
            <legend>Perguntas</legend>
            <div class="form-group">
              <label for="html">O que significa HTML?</label>
              <select name="html" id="html">
                <option value="html1">Hypertext Markup Language</option>
                <option value="html2">Hypertext Markup Label</option>
                <option value="html3">Hyper Markup Language</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="image-tag">Qual a tag html para carregar uma imagem?</label>
              <select name="image-tag" id="image-tag">
                <option value="image-tag1">image</option>
                <option value="image-tag2">im</option>
                <option value="image-tag3">img</option>
              </select>
            </div>

            <div class="form-group">
              <label for="python">Que extensão devem ter os ficheiros em Pyhton?</label>
              <select name="python" id="python">
                <option value="python1">p</option>
                <option value="python2">py</option>
                <option value="python3">pt</option>
              </select>
            </div>
          </fieldset>
          <div class="submit-group">
            <input type="submit" value="Enviar" class="btn btn-primary">
          </div>
        </fieldset>
      </form>
      <div class="form-results">
        {% load static %}
        <img src="{% static 'portfolio/images/pontuacoes.png' %}">
      </div>
    </div>
    
  </section>
      
{% endblock %}