* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

h1 {
  padding: 1rem 0;
}

header {
  display:flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  color: black;
}

header a {
  color: black;
  margin-left: 1rem;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

main {
  min-height: 85vh;
}

footer {
  display: flex;
  padding: 1rem 0;
}

footer > div:first-child {
  flex: 1;
}

.content {
  display: flex;
  align-items: center;
  min-height: 500px;
}

.content.content-center {
  padding: 2rem;
  justify-content: center;
  flex-direction: column;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-box.spaced p {
  padding-top: 10px;
  line-height: 25px;
}

.text-image {
  display: flex;
}

.text-image > div {
  flex: 1;
}

.center {
  display: flex;
  align-content: center;
  justify-content: center;
}

.img-box {
  max-width: 400px;
  border-radius: 25px;
}

.white {
  color: white;
}

.black {
  color: black;
}

.hero-bg {
  background-repeat: no-repeat;
  background-position: left -100px;
  background-size: cover;
}

.projetos, .posts {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.posts p {
  padding-top: 0.5rem;
}

.post {
  align-items: flex-start;
}

.post .author {
  font-size: 12px;
}

.post .aditional-info, .tfc .aditional-info {
  display: flex;
  width: 100%;
  padding-top: 3rem;
}

.post .aditional-info > div, .tfc .aditional-info > div {
  flex: 1;
}

.posts-form {
  width: 60%;
  padding: 2rem 1rem;
}

.posts-form p {
  padding-top: 1rem;
}

a {
  text-decoration: none;
}

.projetos > div, .posts > div {
  display: flex;
  padding: 1rem;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid black;
}

legend {
  font-weight: bold;
}

fieldset {
  padding: 0.5rem 1rem;
}

fieldset.space {
  margin-top: 1rem;
}

.form-group {
  padding-bottom: 1rem;
}

label {
  display: block;
  padding-bottom: 0.5rem;
}

select, input[type=text], input[type=url], textarea {
  width: 100%;
  padding: 5px 8px;
}

.btn-primary {
  padding: 5px 10px;
  appearance: none;
  color: white;
  background: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms;
}

.btn-primary:hover {
  color: black;
  background: white;
}

.submit-group {
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
}

.form-results {
  padding: 2rem 0;
}

.form-results img {
  max-width: 500px;
}

.contacts {
  padding: 2rem 1rem;
}

.detail .contacts {
  padding-left: 0;
}

.content.detail {
  align-items: flex-start;
}

.detail div {
  padding-top: 2rem;
}

.detail p {
  line-height: 1.5rem;
}

.result-container {
  margin-top: 3rem;
}

.result-fields {
  padding-top: 1rem;
}

.hidden {
  display: none;
}

.facts-result {
  padding-top: 1rem;
}

@media only screen and (max-width: 790px) {
  .projetos, .posts {
    grid-template-columns: 1fr 1fr;
  }

  .posts-form {
    width: 100%;
  }

  .text-image {
    flex-direction: column;
  }

  .text-image .text-box {
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .projetos, .posts {
    grid-template-columns: 1fr;
  }
}